<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://farm7.staticflickr.com/6101/6266168306_b56d570b19_b_d.jpg</string>
	<string>https://farm8.staticflickr.com/7148/6564429233_1390079652_b_d.jpg</string>
	<string>https://farm7.staticflickr.com/6043/6365127501_a031d8a183_b_d.jpg</string>
	<string>https://farm9.staticflickr.com/8097/8449225362_7f3141d311_b_d.jpg</string>
	<string>https://farm7.staticflickr.com/6033/6365087487_2e65658144_b_d.jpg</string>
</array>
</plist>
